<project>
  <files
    default_encoding="System"
    readonly="false"
    maxfilesize="10485760"
    enforce_portability="false">
    <dir
      name=".">
      <watched
        excludes=".*"
        subdirs="true">
        <filter
          name="Assembly"/>
        <filter
          name="C"/>
        <filter
          name="C++"/>
        <filter
          name="CUDA"/>
        <filter
          name="Objective-C"/>
        <filter
          name="Objective-C++"/>
      </watched>
      <dir
        name="ASW">
        <dir
          name="ASW_INTERFACE">
          <dir
            name="ADC_Interface"/>
          <dir
            name="BSW_Interface"/>
          <dir
            name="Base"/>
          <dir
            name="Channel_Interface"/>
          <dir
            name="Derate_Interface"/>
          <dir
            name="HighSide_Interface"/>
          <dir
            name="LRDirection_Interface"/>
          <dir
            name="NtcRcod_Interface"/>
          <dir
            name="Parameter_Interface"/>
          <dir
            name="PowerSupply_Interface"/>
          <dir
            name="PulseGenerator_Interface"/>
          <dir
            name="SystemService_Interface"/>
        </dir>
        <dir
          name="ASW_Manager"/>
        <dir
          name="BasicLighting">
          <dir
            name="FrontCrossLamp"/>
        </dir>
        <dir
          name="DCMotor"/>
        <dir
          name="Fan"/>
        <dir
          name="HSDManage"/>
        <dir
          name="Include"/>
        <dir
          name="Lighting">
          <dir
            name="DRLPos"/>
          <dir
            name="LBHB"/>
          <dir
            name="FrontCrossLamp"/>
          <dir
            name="FogLamp"/>
          <dir
            name="TurnIndicator"/>
        </dir>
        <dir
          name="src"/>
      </dir>
      <dir
        name="BSW">
        <dir
          name="Communication">
          <dir
            name="Com"/>
          <dir
            name="LinIf"/>
          <dir
            name="LinSM"/>
        </dir>
        <dir
          name="Config">
          <dir
            name="BSW_Config"/>
          <dir
            name="Mcal_Config_Left">
            <dir
              name="Inc"/>
            <dir
              name="Src"/>
          </dir>
          <dir
            name="Mcal_Config_Right">
            <dir
              name="Inc"/>
            <dir
              name="Src"/>
          </dir>
        </dir>
        <dir
          name="Diagnostic">
          <dir
            name="Dcm"/>
          <dir
            name="LinTp"/>
        </dir>
        <dir
          name="Mcal">
          <dir
            name="Adc_ZX_K14xM">
            <dir
              name="Inc"/>
            <dir
              name="Src"/>
          </dir>
          <dir
            name="Base_ZX_K14xM">
            <dir
              name="Inc">
              <dir
                name="MemMap"/>
            </dir>
          </dir>
          <dir
            name="Det_ZX_K14xM">
            <dir
              name="Inc"/>
            <dir
              name="Src"/>
          </dir>
          <dir
            name="Dio_ZX_K14xM">
            <dir
              name="Inc"/>
            <dir
              name="Src"/>
          </dir>
          <dir
            name="Dma_ZX_K14xM">
            <dir
              name="Inc"/>
            <dir
              name="Src"/>
          </dir>
          <dir
            name="EcuM_ZX_K14xM">
            <dir
              name="Inc"/>
            <dir
              name="Src"/>
          </dir>
          <dir
            name="Fls_ZX_K14xM">
            <dir
              name="Inc"/>
            <dir
              name="Src"/>
          </dir>
          <dir
            name="Gpt_ZX_K14xM">
            <dir
              name="Inc"/>
            <dir
              name="Src"/>
          </dir>
          <dir
            name="I2c_ZX_K14xM">
            <dir
              name="Inc"/>
            <dir
              name="Src"/>
          </dir>
          <dir
            name="Icu_ZX_K14xM">
            <dir
              name="Inc"/>
            <dir
              name="Src"/>
          </dir>
          <dir
            name="LinIf_ZX_K14xM">
            <dir
              name="Inc"/>
            <dir
              name="Src"/>
          </dir>
          <dir
            name="Lin_ZX_K14xM">
            <dir
              name="Inc"/>
            <dir
              name="Src"/>
          </dir>
          <dir
            name="McalLib_ZX_K14xM">
            <dir
              name="Inc">
              <dir
                name="Devices"/>
            </dir>
            <dir
              name="Src"/>
          </dir>
          <dir
            name="Mcu_ZX_K14xM">
            <dir
              name="Inc"/>
            <dir
              name="Src"/>
          </dir>
          <dir
            name="Ocu_ZX_K14xM">
            <dir
              name="Inc"/>
            <dir
              name="Src"/>
          </dir>
          <dir
            name="Os_ZX_K14xM">
            <dir
              name="Inc"/>
            <dir
              name="Src"/>
          </dir>
          <dir
            name="Platform_ZX_K14xM">
            <dir
              name="Inc"/>
            <dir
              name="Src"/>
            <dir
              name="StartUp">
              <dir
                name="Inc"/>
              <dir
                name="Src">
                <dir
                  name="Ghs"/>
                <dir
                  name="Iar"/>
                <dir
                  name="Keil"/>
              </dir>
            </dir>
          </dir>
          <dir
            name="Port_ZX_K14xM">
            <dir
              name="Inc"/>
            <dir
              name="Src"/>
          </dir>
          <dir
            name="Pwm_ZX_K14xM">
            <dir
              name="Inc"/>
            <dir
              name="Src"/>
          </dir>
          <dir
            name="Rte_ZX_K14xM">
            <dir
              name="Inc"/>
            <dir
              name="Src"/>
          </dir>
          <dir
            name="Spi_ZX_K14xM">
            <dir
              name="Inc"/>
            <dir
              name="Src"/>
          </dir>
          <dir
            name="WdgIf_ZX_K14xM">
            <dir
              name="Inc"/>
          </dir>
          <dir
            name="Wdg_179_Ewdt_ZX_K14xM">
            <dir
              name="Inc"/>
            <dir
              name="Src"/>
          </dir>
          <dir
            name="Wdg_ZX_K14xM">
            <dir
              name="Inc"/>
            <dir
              name="Src"/>
          </dir>
        </dir>
      </dir>
      <dir
        name="CDD">
        <dir
          name="CDD_Driver">
          <dir
            name="AdcDrv"/>
          <dir
            name="BuckDrv"/>
          <dir
            name="CDD_Driver_Manager"/>
          <dir
            name="HighSideDrv"/>
          <dir
            name="Smpu_Drv"/>
          <dir
            name="Wdg_Drv"/>
        </dir>
        <dir
          name="CDD_OS"/>
        <dir
          name="Parameter">
          <dir
            name="0000_Default"/>
        </dir>
        <dir
          name="Safety">
          <dir
            name="Cortex_M4_STL">
            <dir
              name="Inc">
              <dir
                name="ARM.CMSIS.5.3.0">
                <dir
                  name="CMSIS">
                  <dir
                    name="Include"/>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="Inc"/>
        </dir>
        <dir
          name="TestExample">
          <dir
            name="Adc"/>
          <dir
            name="SleepWakeup">
            <dir
              name="Inc"/>
            <dir
              name="Src"/>
          </dir>
        </dir>
      </dir>
      <dir
        name="Main"/>
      <dir
        name="Tools">
        <dir
          name="EB_Project">
          <dir
            name="Xy_HCM-AR">
            <dir
              name="Generated">
              <dir
                name="Inc"/>
              <dir
                name="Src"/>
            </dir>
          </dir>
        </dir>
        <dir
          name="ORIENTAIS_S32K146_Lin">
          <dir
            name="LastGeneration"/>
          <dir
            name="config"/>
        </dir>
      </dir>
      <dir
        name="makefile">
        <dir
          name="output_Left20">
          <dir
            name="obj"/>
        </dir>
      </dir>
    </dir>
  </files>
  <languages>
    <language
      name="Assembly"/>
    <language
      name="C++"/>
  </languages>
  <file_types/>
  <annotations_options/>
  <assembly_options
    assembler="Coldfire 68K"
    leading_spaces_option="true"
    save_macro_expansion_text="false"
    search_for_include_files_among_project_files="true"
    treat_system_includes_as_user_includes="true"
    use_case_insensitive_lookup_for_includes="false"/>
  <comparison_options
    comparison_db=""
    git_repo="./."
    git_commit=""
    diff_flags="1"/>
  <cpp_options
    add_found_include_files="false"
    add_found_system_include_files="false"
    allow_nested_comments="false"
    bracket_depth="256"
    cache_ast_files="false"
    c_std=""
    compiler="Microsoft Visual C++"
    compiler_include_path=""
    create_implicit_special_member_functions="false"
    create_references_in_assembly="true"
    create_references_in_inactive_code="true"
    create_references_to_local_objects="true"
    create_references_to_macros_during_macro_expansion="false"
    create_references_to_parameters="true"
    cxx_std=""
    cuda_arch="sm_20"
    delayed_template_parsing="true"
    triple=""
    ignore_dir_in_include_files="false"
    ignore_preprocessor_conditionals="false"
    ios_min_version="5.0"
    linkage_append_text=""
    linkage_prepend_text=""
    macos_min_version="10.7"
    macro_expansion_trunc="0"
    msc_version=""
    prompt_for_missing_include_files="false"
    objectDataMembers="false"
    objectFunctionMembers="false"
    save_comments_associated_with_entities="true"
    save_duplicate_references="false"
    save_macro_expansion_text="false"
    simplify_macro_expansion="false"
    search_for_include_files_among_project_files="true"
    start_worker_processes_serially="false"
    sysroot=""
    treat_system_includes_as_user_includes="true"
    compare_includes_by_content="false"
    analyze_headers_in_isolation="true"
    use_clang="true"
    use_include_cache="true"
    objc_memory_mode="MrrMode"
    worker_process_timeout="2"/>
  <dependency_options
    exclude_standard="true"
    use_includes="true"
    mode="link"/>
  <imports/>
</project>
